<div class="container bg-white my-5 py-5 rounded">
  <div class="row">
    <div class="col-4 pl-5">
      <%= image_tag(@post.image_url, class:'img-fluid') if @post.image %>
      <div class="row">
        <div class="col-12 ml-4 pl-4 pt-2">
            <h4 class="">
                Rating: [<%= @post.rating %>/10 ]
            </h4>
        </div>
        <div class="col-12">
          <h5 class="d-flex mx-1">
            <div id="like-count" class="col-6">
              <%= render 'posts/likes', post: @post %>
            </div>
            <div id="like-link" class="col-6">
              <%= render 'posts/like_link', post: @post %>
            </div>
          </h5>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <h6>
          This Post Belongs to
          <%= pluralize(@post.categories.count, "Category") %>
        </h6>
      </div>
      <% @post.categories.each do |category| %>
      <div class="col-6">
          <%= link_to category.name, posts_path(category: category.name) %>
      </div>
      <% end %>
        <div class="col-12">
        <% if current_user&.admin %>
        <div class="btn-group my-3">
          <%= link_to "Back", posts_path, class: 'btn btn-primary mx-1 rounded' %>
          <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-warning mx-1 rounded' %>
          <%= link_to "Delete", @post, method: :delete, class: 'btn btn-danger mx-1 rounded' %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="container py-5">
          <h1 class="text-center pb-3">
            <% if params[:category].nil? %>
              <%= link_to @post.title, posts_path, class: ' text-center' %>
            <% else %>
              <%= link_to @post.title, posts_path(category: params[:category], order: params[:order]) %>
            <% end %>
          </h1>
          <div class="container">
            <%= @post.review %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>