<%
=begin%>
 <div class="container mx-auto bg-white py-5">
  <div class="container px-auto pl-5">
    <h1 class="text-center">
      <%= link_to "Categories", root_path, class:'bold text-dark' %>
    </h1>
      <p class="pl-5 pb-3 text-center">Set the Categories that you want to display in the Navbar.</p>

    <% @categories.each do |category| %>
      <div class="container pl-5 mx-auto w-100">
        <div class="row ml-5 mr-5 pl-3 pr-3">
          <%= form_with(model: category, local: true) do |form| %>
          <div class="col ml-5 mr-5 pl-2 pr-2">
            <div class="form-group row">
              <div class="col-4">
                <%= form.text_field :name, class: 'form-control' %>
              </div>
              <div class="col-form-label">
                <%= form.label "Select this Category", class: 'col-form-label'%>
              </div>
              <div class="col">
                <%= form.check_box :feature_in_navbar, class:'form-control' %>
              </div>
              <div class="col">
                <%= form.submit "Update", class:'btn btn-primary' %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="col">
            <%= link_to "Delete", category, method: :delete, data: {confirm: "Are you sure that you want to delete the entire Category?"}, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-fluid mt-3 ml-5 pl-5 mr-5 pr-5 text-center mb-4 mt-2">
    <%= link_to 'Back to Posts', posts_path, class:'ml-3 btn btn-warning btn-lg' %>
    <%= link_to 'Create New Category', new_category_path, class:'ml-3 btn btn-success btn-lg' %>
  </div>
</div>
 
<%
=end%>



<div class="container">
	<div class="row">
		<%= most_voted_partial %>
		<% @categories.each do |category| %>
			<div class="col-3 p-0" style="background-image: url(<%= last_post_image(category) %>)">
				<div class="cover-img d-flex flex-column justify-content-between">
					<div>
						<%= link_to "#{category.name}", category_path(category), :class => "text-uppercase"%>
						<span class= "effect"></span>
					</div>
					<p class= "text-right text-white" ><%= last_post_title(category) %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>